/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #222;
    color: #fff;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar-logo {
    cursor: pointer;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #00bcd4;
  }
  
  .navbar-link.active {
    color: #00bcd4;
    font-weight: bold;
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Responsivo */
@media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #333;
      padding: 1rem;
      width: 200px;
      border-radius: 8px;
    }
  
    .navbar-links.open {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}
